<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achivement</title>
    <link rel="stylesheet" href="../public/css/achivement.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>

    <div class="container">
        <div class="header">
            <a class="subheader" href="../index.html">Home</a>
            <a class="subheader" href="#">About</a>

            <a class="subheader" href="education.html">Education</a>
            <a class="subheader" id="active" href="achivement.html">Achivement</a>
            <a class="subheader" href="certification.html">Certification</a>
            <a class="subheader" href="contact.html">Contact</a>
            <a style="margin-left: 300px; color: black; font-weight: bold; font-size: 30px;">
                <img style="height: 30px; margin-right: 10px;" src="../public/Images/user.svg"> Portfolio
            </a>
        </div>

        <div class="achivement">
            <i class="heading">“Excited to share that our team's research paper on "Cattle Health Monitoring System Using IoT" was presented at IEEE ICRTC 2023 International Conference! 🖥🌐”
            </i>
            <a class="paper" href="/Re_paper.docx" target="_blank">Download Paper</a>
        </div>

        <div class="parent">
            <div class="child1">Abstract</div>
            <div class="child2">
                The Wireless Sensor Networks (WSNs) with a fusion of IoT are revolutionizing the world due to their advanced technologies of sensing. This initiated technology focuses on designing and executing the cattle health monitoring system (CHMS) in revolutionizing
                the backbone of the agriculture sector for the improvement of the health of cattle and to increase productivity. The primary intention and objective of this advanced technology is to make a system for animal husbandry which makes it more
                profitable and increases dairy production. For implementing this technology a non-invasive wearable device is used (Belt) which will help to track and monitor physiological as well as biological activities of cattle using the IoT (Internet
                of Things) and for displaying the expected output an authorized personnel app or web application is used. The wearable device (Belt) is responsible for detecting the abnormalities, and motions, tracking the live location, rumination time
                determination, and diagnosing the disease before reaching the advanced stage. As a result, encompassing cattle health and overall dairy production will be improved by reducing the medical treatment costs and ensuring consistency in the
                field of animal husbandry. This overall research results in the cattle monitoring systems along with a variety of issues and problems and their solutions using “Cattle Health Monitoring System Using IoT.”
                <br><br> For More Details
                <a href="https://ieeexplore.ieee.org/document/10449639" target="_blank">Click Here</a>
            </div>
        </div>

        <div class="parent1">
            <div class="child1">
                <i style="margin-left: 20px;">See Great Achivement!!</i>
            </div>
            <div class="child2">
                <img class="ieee" src="../public/Images/ieee.jpg">
            </div>
        </div>

        <div class="parent2">
            <div class="child">
                <img class="flowchart" src="../public/Images/FLOWCHART.png">
            </div>
        </div>

        <div class="parent3">
            <div class="child">
                <img class="certificate" src="../public/Images/IEEE_certificate.jpg">
            </div>
        </div>

        <div class="footer">
            <a><b>Connect with Me</b></a>
            <a class="social_media_icon11"><i class="fa-solid fa-phone"></i> <b>+9284776383</b></a>
            <div class="social_media">
                <a class="social_media_icon1" href="https://www.linkedin.com/in/shreyas-pangavhane-3a011a263/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a class="social_media_icon1" href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a class="social_media_icon1" href="https://github.com/shreyaspangavhane" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <a><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
            </svg> <b>shreyaspangavhane@gmail.com</b></a>
        </div>
    </div>
    <script src="/achivement.js"></script>
</body>

</html>