<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" href="../public/css/certificate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <div class="container">
        <div class="header">
            <a class="subheader" href="../index.html">Home</a>
            <a class="subheader" href="">About</a>
            <a class="subheader" href="./education.html">Education</a>
            <a class="subheader" href="./achivement.html">Achivement</a>
            <a class="subheader" id="active" href="./certification.html">Certification</a>
            <a class="subheader" href="./contact.html">Contact</a>
            <a style="margin-left: 300px;
            color: black;
            font-weight: bold; font-size: 30px;"><img style="height: 30px; margin-right: 10px;" src="../public/Images/user.svg"> Portfolio
            </a>
        </div>



        <div class="grandparent">

            <div class="parent">
                <div class="child1">
                    <img class="certificate" src="../public/Images/graphic_certificate.jpg">

                    <h3>Graphic Design & Video Editing</h3>
                    <p>
                        Proficient in Adobe Premiere Pro CC & Photoshop from basic to advanced. Skilled in video editing, graphic design, project-based learning. Ready to create compelling content confidently</p>
                    <h2 style="background-color: chartreuse;width: 50px;
            padding: 5px;border-radius: 10px;     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);"><a style="color: black; text-decoration: none;" href="../public/Images/graphic_certificate.jpg" target="_blank">View</a></h2>

                </div>

            </div>


            <div class="parent">
                <div class="child1">
                    <img class="certificate" src="../public/Images/oop_java_certificate.png">

                    <h3>OOP with Java</h3>
                    <p>

                        Java OOP: Encapsulation,Inheritance, Polymorphism.Flexibility, structure. Code efficiency, reusability. Comprehensive understanding achieved. Valuable concepts grasped thoroughly.</p>
                    <h2 style="background-color: chartreuse;width: 50px;
            padding: 5px;border-radius: 10px;     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);"><a style="color: black; text-decoration: none;" href="../public/Images/oop_java_certificate.png" target="_blank">View</a></h2>

                </div>


            </div>

            <div class="parent">
                <div class="child1">
                    <img class="certificate" src="../public/Images/IEEE_certificate.jpg">

                    <h3>IEEE Paper Presentation</h3>
                    <p>“Excited to share that our team's research paper on "Cattle Health Monitoring System Using IoT" was presented at IEEE ICRTC 2023 International Conference at SCOE, Kopargaon 🖥🌐”</p>
                    <h2 style="background-color: chartreuse;width: 50px;
            padding: 5px;border-radius: 10px;     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);"><a style="color: black; text-decoration: none;" href="../public/Images/IEEE_certificate.jpg" target="_blank">View</a></h2>

                </div>

            </div>
        </div>



        <div class="grandparent1">

            <div class="parent">
                <div class="child1">
                    <img class="certificate" src="./graphic_certificate.jpg">

                    <h3>Graphic Design & Video Editing</h3>
                    <p>
                        Proficient in Adobe Premiere Pro CC & Photoshop from basic to advanced. Skilled in video editing, graphic design, project-based learning. Ready to create compelling content confidently</p>
                    <h2 style="background-color: chartreuse;width: 50px;
            padding: 5px;border-radius: 10px;     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);"><a style="color: black; text-decoration: none;" href="./graphic_certificate.jpg" target="_blank">View</a></h2>

                </div>

            </div>


            <div class="parent">
                <div class="child1">
                    <img class="certificate" src="./oop_java_certificate.png">

                    <h3>OOP with Java</h3>
                    <p>

                        Java OOP: Encapsulation,Inheritance, Polymorphism.Flexibility, structure. Code efficiency, reusability. Comprehensive understanding achieved. Valuable concepts grasped thoroughly.</p>
                    <h2 style="background-color: chartreuse;width: 50px;
            padding: 5px;border-radius: 10px;    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);"><a style="color: black; text-decoration: none;" href="./oop_java_certificate.png" target="_blank">View</a></h2>

                </div>


            </div>

            <div class="parent">
                <div class="child1">
                    <img class="certificate" src="./IEEE_certificate.jpg">

                    <h3>IEEE Paper Presentation</h3>
                    <p>“Excited to share that our team's research paper on "Cattle Health Monitoring System Using IoT" was presented at IEEE ICRTC 2023 International Conference at SCOE, Kopargaon 🖥🌐”</p>
                    <h2 style="background-color: chartreuse;width: 50px;
            padding: 5px;border-radius: 10px;     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);"><a style="color: black; text-decoration: none;" href="./IEEE_certificate.jpg" target="_blank">View</a></h2>

                </div>

            </div>
        </div>




        <div class="footer">
            <a><b>Connect with Me</b></a>
            <a class="social_media_icon11"><i class="fa-solid fa-phone"></i> <b>+9284776383</b></a>
            <div class="social_media">
                <a class="social_media_icon1" href="https://www.linkedin.com/in/shreyas-pangavhane-3a011a263/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a class="social_media_icon1" href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a class="social_media_icon1" href="https://github.com/shreyaspangavhane" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            </a>
            <a><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
              </svg> <b>shreyaspangavhane@gmail.com</b></a>
        </div>



    </div>

</body>

</html>