<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../public/css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <div class="container">
        <div class="header">
            <a class="subheader" href="../index.html">Home</a>
            <a class="subheader" href="">About</a>
            <a class="subheader" href="./education.html">Education</a>
            <a class="subheader" href="./achivement.html">Achievement</a>
            <a class="subheader" href="./certification.html">Certification</a>
            <a class="subheader" id="active" href="./contact.html">Contact</a>
            <a style="margin-left: 300px; color: black; font-weight: bold; font-size: 30px;">
                <img style="height: 30px; margin-right: 10px;" src="../public/Images/user.svg"> Portfolio
            </a>
        </div>
        <div class="touch">
            <div class="content">
                <h1 style="font-size: 40px;">Get in touch...</h1>
                <p style="font-size: 18px;">
                    <i style="font-size: 20px;">Want to get in touch? I'd love to hear from you. <br>Here how you can reach us...</i>
                </p>
            </div>
            <div class="form">
                <form action="/submit" method="post">
                    <h2>Contact Me</h2>
                    <hr style="color: gray;">
                    <br>
                    <input type="text" name="name" placeholder="Enter your name"><br><br>
                    <input type="email" name="email" placeholder="user@gmail.com"><br><br>
                    <textarea rows="10" cols="50" name="message" placeholder="Share your knowledge by writing your own blog!.."></textarea><br><br>
                    <input class="submit" type="submit" value="Submit"><br><br>
                </form>
            </div>
        </div>
        <div class="footer">
            <a><b>Connect with Me</b></a>
            <a class="social_media_icon11"><i class="fa-solid fa-phone"></i> <b>+9284776383</b></a>
            <div class="social_media">
                <a class="social_media_icon1" href="https://www.linkedin.com/in/shreyas-pangavhane-3a011a263/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a class="social_media_icon1" href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a class="social_media_icon1" href="https://github.com/shreyaspangavhane" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <a><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
            </svg> 
            <b>shreyaspangavhane@gmail.com</b>
        </div>
    </div>
</body>
</html>