<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" href="../public/css/education.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>

    <div class="container">
        <div class="header">
            <a class="subheader" href="../index.html">Home</a>
            <a class="subheader" href="">About</a>
            <a class="subheader" id="active" href="./education.html">Education</a>
            <a class="subheader" href="./achivement.html">Achivement</a>
            <a class="subheader" href="./certification.html">Certification</a>
            <a class="subheader" href="./contact.html">Contact</a>
            <a style="margin-left: 300px;
            color: black;
            font-weight: bold; font-size: 30px;"><img style="height: 30px; margin-right: 10px;" src="../public/Images/user.svg"> Portfolio
            </a>
        </div>

        <div class="education">

            <h1 style="margin-left: 50px;margin-top: 0;"><br>Qualification</h1>
            <hr>
            <div class="qualification">
                <div class="secondary">
                    <div class="yrs">
                        May<br> 2020
                    </div>
                    <div class="details">
                        <p style=" font-size: 20px;text-align: center; font-weight: bold; ">S.S.C</p>
                        <p>Chh. Shivaji Vidyalayala, Kolpewadi
                        </p>
                        <p>
                            Secured Frist Class with Distinction<br><br> grade : 90.60%
                        </p>
                    </div>

                </div>


                <div class="secondary">
                    <div class="yrs">
                        Mar<br> 2022
                    </div>
                    <div class="details">
                        <p style=" font-size: 20px;text-align: center; font-weight: bold; ">H.S.C (PCMB)</p>
                        <p>SJC, Kopargaon
                        </p>
                        <p>
                            Secured Frist Class with Distinction<br><br> grade : 90.17%
                        </p>
                    </div>

                </div>

                <div class="secondary">
                    <div class="yrs">
                        Curr-<br>ently
                    </div>
                    <div class="details">
                        <p style=" font-size: 20px;text-align: center; font-weight: bold; ">U.G (Computer Engineering)</p>
                        <p>SCOE, Kopargaon
                        </p>
                        <p>
                            Cureently Pursuing B.Tech Degree in Computer Engineering<br><br> CGPA : 8.5
                        </p>
                    </div>

                </div>


            </div>

            <h1 style="margin-left: 50px;">Skills
                <hr>
            </h1>
            <div class="skill">

                <div class="parent">
                    <i style="font-size: 50px; margin: 25px;
                margin-left: 0; " class="fa-brands fa-html5"></i>

                    <h3 style="font-size: 30px;">HTML 5</h3>

                </div>

                <div class="parent">
                    <i style="font-size: 50px; margin: 25px;
                margin-left: 0; " class="fa-brands fa-css3-alt"></i>
                    <h3 style="font-size: 30px;">CSS 3</h3>

                </div>

                <div class="parent">
                    <i style="font-size: 50px; margin: 25px;
                margin-left: 0;  " class="fa-brands fa-js"></i>
                    <h3 style="font-size: 30px;">JavaScript</h3>

                </div>

            </div>



            <div class="skill1">

                <div class="parent">
                    <i style="font-size: 50px; margin: 25px;
                margin-left: 0; " class="fab fa-node"></i>

                    <h3 style="font-size: 30px;">node.js</h3>

                </div>

                <div class="parent">
                    <i style="font-size: 50px; margin: 25px;
                margin-left: 0; " class="fa-brands fa-react"></i>
                    <h3 style="font-size: 30px;">React</h3>

                </div>

                <div class="parent">
                    <i style="font-size: 50px; margin: 25px;
                margin-left: 0;  " class="fa-solid fa-database"></i>
                    <h3 style="font-size: 30px;">SQL</h3>

                </div>

            </div>


        </div>

    </div>

    <div class="footer">
        <a><b>Connect with Me</b></a>
        <a class="social_media_icon11"><i class="fa-solid fa-phone"></i> <b>+9284776383</b></a>
        <div class="social_media">
            <a class="social_media_icon1" href="https://www.linkedin.com/in/shreyas-pangavhane-3a011a263/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a class="social_media_icon1" href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a class="social_media_icon1" href="https://github.com/shreyaspangavhane" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
        </a>
        <a><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
              </svg> <b>shreyaspangavhane@gmail.com</b></a>
    </div>




    </div>

</body>

</html>