<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>
    <link rel="stylesheet" href="../public/css/contact.css">

</head>

<body>

    <div class="container">
        <div class="header">
            <a class="subheader" href="../index.html">Home</a>
            <a class="subheader" href="">About</a>
            <a class="subheader" href="./education.html">Education</a>
            <a class="subheader" href="./achivement.html">Achivement</a>
            <a class="subheader" href="./certification.html">Certification</a>
            <a class="subheader" id="active" href="./contact.html">Contact</a>
            <a style="margin-left: 300px;
            color: black;
            font-weight: bold; font-size: 30px;"><img style="height: 30px; margin-right: 10px;" src="./user.svg"> Portfolio
            </a>
        </div>

        <h1>Response Submitted Successfully!!</h1>
</body>

</html>