body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 17px;
    margin: 0;
    display: flex;
    gap: 15px;
    background-color: chartreuse;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.subheader {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: 50px;
}

.subheader:hover {
    font-size: 25px;
}

#active {
    font-size: 25px;
}

.achivement {
    display: flex;
}

.heading {
    font-size: 23px;
    font-weight: bold;
    display: flex;
    width: 900px;
    justify-content: center;
    text-align: center;
    margin-left: 250px;
    margin-top: 30px;
    color: darkblue;
}

.paper {
    margin-top: 30px;
    background-color: chartreuse;
    padding: 20px;
    margin-left: 130px;
    border-radius: 20px;
    height: 15px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.parent,
.parent2 {
    display: block;
    width: 500px;
    border-radius: 10px;
    height: 450px;
    padding: 25px;
    margin-left: 100px;
    margin-top: 50px;
    text-align: justify;
    background-color: azure;
    float: left;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.child1 {
    font-size: 30px;
    font-weight: bold;
    float: both;
    margin-bottom: 15px;
}

.child2 {
    font-size: 17px;
    float: none;
}

.ieee {
    height: 400px;
    margin-left: 30px;
}

.parent1,
.parent3 {
    padding: 20px;
    width: 600px;
    height: 450px;
    margin-left: 100px;
    margin-top: 50px;
    background-color: azure;
    float: left;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.flowchart {
    height: 400px;
    margin-bottom: 50px;
}

.certificate {
    height: 400px;
    margin-left: 50px;
    margin-top: 20px;
}

.footer {
    margin-top: 50px;
    clear: both;
    background-color: chartreuse;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 17px;
}

.social_media_icon1 {
    margin-right: 30px;
    font-size: 25px;
}


/* Animation on Scroll   */

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.parent2,
.parent3 {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}
